<!DOCTYPE html>
<html>
  <head>
    <title>ERE Wishlist</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="pending_wishes">
      <h2>Maturing Wishes</h2>
    </div>
    <div id="approved_wishes">
      <h2>Approved Wishes</h2>
    </div>
    <div id="add_wish">
      <h3>Add New Wish</h3>
        <form>
          <p>Tag: <input type="text" name="tag" /></p>
          <p>Price: <input type="text" name="price" value="0.00" /></p>
        </form>
    </div>
  </body>
</html>